{% extends 'base.html.twig' %}

{% block title %}LetsGetRich{% endblock %}

{% block body %}
    {% block header %}
        {% include "partials/_header-back.html.twig" %}
    {% endblock %}

    <div class="container-fluid h-75 d-flex justify-content-around">
        <div class="col-lg-7 bg-white rounded-5 h-100 p-3 overflow-scroll overflow-x-hidden shadow-lg">
            <span class="d-flex justify-content-between align-items-center border-bottom">
                <div class="w-75">
                    <h3>{{ account.name }}</h3>
                    <h4>{{ account.bank }}</h4>
                </div>
                <a class="w-25 d-flex align-items-center flex-row-reverse" href="{{ path('app_account_delete', {'id': account.id}) }}"><i class="bi bi-trash"></i></a>
            </span>
            <h5 class="mt-1">Solde : {{ account.balance }}€</h5>
            <span class="d-flex justify-content-around">
                <a href="{{ path('app_account_month', {'month': "back", 'id': account.id}) }}"><i class="bi bi-arrow-left-circle"></i></a>
                <h6>Dépenses du mois de {{ date|format_datetime(locale='fr',pattern="MMMM YYYY") }}</h6>
                <a href="{{ path('app_account_month', {'month': "next", 'id': account.id}) }}"><i class="bi bi-arrow-right-circle"></i></a>
            </span>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Détails</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Montant</th>
                        <th scope="col"><i class="bi bi-trash"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.date|format_datetime(locale='fr',pattern="d/MM/YYYY") }}</td>
                            <td>{{ expense.location }}</td>
                            <td>{{ expense.detail }}</td>
                            <td>{{ expense.getBudget().getCategory() }}</td>
                            <td>{{ expense.amount }}€</td>
                            <td><a href="{{ path('app_expense_delete', {'id': expense.id} ) }}"><i class="bi bi-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3 bg-white rounded-5 h-100 p-3 overflow-scroll overflow-x-hidden shadow-lg">
            <span class="d-flex justify-content-between align-items-center">
                <h3>Nouveau mouvement</h3>
            </span>
            <div>
                {{ form_start(newExpense) }}
                <div class="form-group">
                    {{ form_label(newExpense.Movement) }}
                    {{ form_widget(newExpense.Movement) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Movement) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(newExpense.Date) }}
                    {{ form_widget(newExpense.Date) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Date) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(newExpense.Location) }}
                    {{ form_widget(newExpense.Location) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Location) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(newExpense.Detail) }}
                    {{ form_widget(newExpense.Detail) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Detail) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(newExpense.Amount) }}
                    {{ form_widget(newExpense.Amount) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Amount) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(newExpense.Budget) }}
                    {{ form_widget(newExpense.Budget) }}
                    <div class="form-error">
                        {{ form_errors(newExpense.Budget) }}
                    </div>
                </div>
                <div class="mb-3 mt-3 text-center">{{ form_row(newExpense.submit) }}</div>
                {{ form_end(newExpense) }}
            </div>
        </div>

    </div>

{% endblock %}
